<% if (!user) { %>
    <p>Главная</p> 
    <p>Пожалуйста, <a href="/api/user/login"> авторизуйтесь </a></p>
<% } else { %>
    <p>Привет, <%= user.username %>. </p>
    <p>Перейти в <a href="/api/user/me">профиль</a>.</p>
<% } %>